<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <title>系统主页</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_home.css') }}">
</head>

<body>

    <div class="login-box">
        <h1>DATA HAMMER GROUP<br>TALKING SYSTEM</h1>

        <div class="buttons">
            <a href="/train" class="btn">训练模型</a>
            <a href="/generate" class="btn">视频生成</a>
            <a href="/chat" class="btn">人机对话</a>
        </div>
    </div>

    <div class="footer">© 2025 DATA HAMMER LAB</div>
</body>

</html>