/* static/style_home.css - 仅用于首页 */
body {
    background-color: #000;
    font-family: 'Microsoft YaHei', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

/* 中间的发光方框 */
.login-box {
    width: 500px;
    padding: 60px 40px;
    border: 2px solid #00eaff;
    /* 青色边框 */
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 234, 255, 0.3), inset 0 0 20px rgba(0, 234, 255, 0.1);
    text-align: center;
    background: rgba(0, 20, 30, 0.8);
    display: flex;
    flex-direction: column;
    gap: 40px;
}

/* 标题 */
h1 {
    color: #00eaff;
    font-size: 2.2rem;
    margin: 0;
    line-height: 1.4;
    text-shadow: 0 0 10px #00eaff;
    font-weight: 800;
    letter-spacing: 2px;
}

/* 按钮样式 */
.btn {
    display: block;
    width: 100%;
    padding: 15px 0;
    background: linear-gradient(to bottom, #00b7ff, #0077ff);
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 8px;
    border: 1px solid #00ffff;
    box-shadow: 0 0 10px rgba(0, 183, 255, 0.5);
    transition: transform 0.2s;
    margin-bottom: 15px;
    /* 按钮间距 */
}

.btn:hover {
    transform: scale(1.02);
    filter: brightness(1.1);
}

.footer {
    position: fixed;
    bottom: 20px;
    color: #444;
    font-size: 12px;
}