.vs/
.git
.gitignore
__pycache__/
*.pyc
*.pyo
*.log

# Python envs
.conda/
.venv/
env/

# ML artifacts
models/
checkpoints/
weights/
data/
outputs/
cache/
output/

# OS junk
Thumbs.db
.DS_Store