################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

__pycache__/
.vs/
output/
third_party/
pretrained_models/
data_util/face_tracking/3DMM/
data_util/face_parsing/79999_iter.pth
