name: voicepersona_env
channels:
  - conda-forge
  - pytorch
  - nvidia

dependencies:
  - python=3.9
  - pip

  # Native libs
  - pyworld
  - dlib

  # Numeric
  - numpy
  - scipy

  # Audio / vision
  - ffmpeg
  - opencv
  - libsndfile
  - hdf5

  # System/compat helpers
  - libffi
  - openssl

  - pip:
      - --extra-index-url https://download.pytorch.org/whl/cu121
      - torch==2.5.1+cu121
      - torchvision==0.20.1+cu121
      - torchaudio==2.5.1+cu121

      # ML / AI
      - transformers
      - diffusers
      - accelerate
      - lightning
      - openai

      # Audio / speech
      - librosa
      - soundfile
      - soxr
      - openai-whisper
      - resampy==0.4.3
      - python-speech-features==0.6

      # CV / face
      - face-alignment
      - face-recognition

      # Web / UI
      - fastapi
      - uvicorn
      - gradio
      - flask

      # Utils
      - gdown
      - tqdm
      - pyyaml
      - rich
      - requests
