<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DATA HAMMER GROUP TALKING SYSTEM</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="main-container">
        <div class="title">DATA HAMMER GROUP</div>
        <div class="subtitle">TALKING SYSTEM</div>
        <div class="button-container">
            <a href="/model_training" class="main-button">训练模型</a>
            <a href="/generate" class="main-button">视频生成</a>
            <a href="/training" class="main-button">人机对话</a>
        </div>
        <div class="footer">© 2025 DATA HAMMER LAB</div>
    </div>
</body>
</html>